.nav-link.dropdown-toggle::after {
    border: 0 !important;
}

/*
.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease; !* 0.4초 동안 부드럽게 *!
}

.menu.open {
    max-height: 50px; !* 충분히 큰 값 (메뉴 높이보다 크면 됨) *!
}*/

.nav-subtitle {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
